In [ ]:
# 1.number 
# 2.series --> Natural , whole, even, odd, prime.
# armstrong / nasadic number
# strong
# niviens
# harshds
# happy
# kirshnamurthy's
# atmorphic
# adam's

In [35]:
# Armstrong number
n = int(input("Enter a number to check"))
l = len(str(n))
t = n
s = 0
while n>0:
    d = n%10
    s = s+d**l
    n = n//10
if s == t:
    print("It is an Armstrong Number")
    print("Temp value is ",n)
else:
    print("It is not an Armstrong Number")
    print("Temp value is ",n)

Enter a number to check 21321

It is not an Armstrong Number
Temp value is  0

In [47]:
# Niven's / Harshad Number
n = int(input("Enter a number"))
t = n
s = 0
while n>0:
    d = n%10
    n = n//10
    s = s+d
if t%s==0:
    print("It is an Harshad Number")
else:
    print("It is not an Harshad Number")

Enter a number 13

It is not an Harshad Number

In [63]:
for i in range(1,10,3):
    print(i,end=" ")

1 4 7

In [105]:
word = input("Enter a word:")
for i in word:
    print(i,end=" ")

Enter a word: asdf jkl;

a s d f   j k l ;

In [97]:
for i in range(1,11):
    print(f"Square of {i} is {i**2}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

In [111]:
n = int(input("Enter a Number:"))
for i in range(1,11):
    print(f" {n} * {i} = {n*i}")

Enter a Number: 867

 867 * 1 = 867
 867 * 2 = 1734
 867 * 3 = 2601
 867 * 4 = 3468
 867 * 5 = 4335
 867 * 6 = 5202
 867 * 7 = 6069
 867 * 8 = 6936
 867 * 9 = 7803
 867 * 10 = 8670

In [139]:
fact = int(input("Enter the number:"))
factorial = 1
for i in range(1, fact+1):
    factorial*=i
print(factorial)

Enter the number: 5

120

In [159]:
n = int(input("Enter the size"))
for i in range(n):
    for j in range(n):
        print("R",end=" ")
    print()

Enter the size 3

R R R
R R R
R R R

In [163]:
n = int(input("Enter the size"))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("R",end=" ")
        else:
            print(" ",end=" ")
    print()

Enter the size 5

R R R R R
R       R
R       R
R       R
R R R R R